.tox
.build
*.pyc
repositories/centos/*
repositories/ubuntu/*
deployment_scripts/puppet/modules/inifile
deployment_scripts/puppet/modules/stdlib
deployment_scripts/puppet/modules/contrail/files/opencontrail
build.sh
*.fp

