.tox
.build
*.pyc
*.pyo
repositories/centos/*
repositories/ubuntu/*
deployment_scripts/puppet/modules/inifile
deployment_scripts/puppet/modules/stdlib
build.sh
*.rpm
logs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# Local example
example_local.py

# Local settings
local_settings.py

# Logs
sys_test.log
