# Groups
# Contrail - DB
- id: primary-contrail-db
  type: group
  role: [primary-contrail-db]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one
- id: contrail-db
  type: group
  role: [contrail-db]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start, primary-contrail-db]
  parameters:
    strategy:
      type: parallel
#
# Contrail - Config
- id: primary-contrail-config
  type: group
  role: [primary-contrail-config]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start, contrail-db]
  parameters:
    strategy:
      type: one_by_one
- id: contrail-config
  type: group
  role: [contrail-config]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start, primary-contrail-config]
  parameters:
    strategy:
      type: parallel
#
# Contrail - Control
- id: primary-contrail-control
  type: group
  role: [primary-contrail-control]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start, contrail-config]
  parameters:
    strategy:
      type: one_by_one
- id: contrail-control
  type: group
  role: [contrail-control]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start, primary-contrail-control]
  parameters:
    strategy:
      type: parallel
#
# Compute dpdk feature
- id: dpdk
  type: group
  role: [dpdk]
  tasks: []
  required_for: [deploy_end]
  requires: [deploy_start]
  parameters:
    strategy:
      type: parallel
# Tasks
# Install Contrail utils, java
- id: contrail-utils
  type: puppet
  groups: [primary-contrail-db, contrail-db,
    primary-contrail-config,contrail-config,
    primary-contrail-control,contrail-control]
  required_for: [deploy_end]
  requires: [deploy_start, hosts]
  parameters:
    puppet_manifest: puppet/manifests/contrail-utils.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720

# Install Cassandra and wait cluster to bootstrap
- id: contrail-db-seed
  type: puppet
  groups: [primary-contrail-db]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-db.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600

# deploy other Cassandra servers
- id: contrail-db-bootstrap
  type: puppet
  groups: [contrail-db]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-db.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600

# Configure haproxy on OpenStack Controllers
- id: openstack-haproxy-contrail
  type: puppet
  groups: [primary-controller, controller]
  required_for: [deploy_end]
  requires: [deploy_start, openstack-haproxy, rabbitmq]
  parameters:
    puppet_manifest: puppet/manifests/controller-vip.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720

# Install and configure Contrail Config, Contrail Analytics, Contrail WebUI
# this task is performed on one node initially to allow discovery service to start up
- id: contrail-config-primary
  type: puppet
  groups: [primary-contrail-config]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1440

# Perform same actions on other contrail-config nodes
- id: contrail-config-all
  type: puppet
  groups: [contrail-config]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1440

# Install and configure Contrail Control Node
- id: contrail-control-primary
  type: puppet
  groups: [primary-contrail-control]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-control.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1440

# Perform initial Contrail provisioning:
# provision BGP, encapsulation types and metadata services
- id: provision-contrail-control
  type: puppet
  groups: [primary-contrail-control]
  required_for: [deploy_end]
  requires: [contrail-control-all]
  parameters:
    puppet_manifest: puppet/manifests/contrail-provision.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1440

# Install other Contrail Control Nodes
- id: contrail-control-all
  type: puppet
  groups: [contrail-control]
  required_for: [deploy_end]
  requires: [contrail-utils]
  parameters:
    puppet_manifest: puppet/manifests/contrail-control.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1440

# Configure default route on contrail nodes
- id: contrail-default-route
  type: puppet
  role: [primary-contrail-db, contrail-db,
    primary-contrail-config,contrail-config,
    primary-contrail-control,contrail-control]
  requires: [post_deployment_start]
  required_for: [contrail-dns-client]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/netconfig/configure_default_route.pp
    puppet_modules: /etc/puppet/modules
    timeout: 3600
    cwd: /

# Configure resolver on contrail nodes
- id: contrail-dns-client
  type: puppet
  role: [primary-contrail-db, contrail-db,
    primary-contrail-config,contrail-config,
    primary-contrail-control,contrail-control]
  requires: [contrail-default-route]
  required_for: [contrail-ntp-client]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/dns/dns-client.pp
    puppet_modules: /etc/puppet/modules
    timeout: 3600
    cwd: /

# Configure ntp client on contrail nodes
- id: contrail-ntp-client
  type: puppet
  role: [primary-contrail-db, contrail-db,
    primary-contrail-config,contrail-config,
    primary-contrail-control,contrail-control]
  requires: [contrail-dns-client]
  required_for: [post_deployment_end]
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/ntp/ntp-client.pp
    puppet_modules: /etc/puppet/modules
    timeout: 3600
    cwd: /

# Create overrides for Hiera on Controllers: empty predefined_nets
- id: controller-hiera-pre
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-start]
  requires: [deploy_start, globals]
  parameters:
    puppet_manifest: puppet/manifests/controller-hiera-pre.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120

# Skip L3 and DHCP Neutron agents
- id: primary-openstack-network-agents-l3
  type: skipped
- id: openstack-network-agents-l3
  type: skipped
- id: primary-openstack-network-agents-dhcp
  type: skipped
- id: openstack-network-agents-dhcp
  type: skipped
- id: openstack-network-networks
  type: skipped
- id: openstack-network-routers
  type: skipped

# Create overrides for Hiera on Controllers: contrail-specific predefined_nets
- id: controller-hiera-post
  type: puppet
  role: [primary-controller,controller]
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: puppet/manifests/controller-hiera-post.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120

# Configuration for Neutron and Heat on Primary OpenStack Controller
- id: openstack-controller-contrail-primary
  type: puppet
  role: [primary-controller]
  required_for: [post_deployment_end]
  requires: [controller-hiera-post]
  parameters:
    puppet_manifest: puppet/manifests/controller-config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720

# Create networks for ostf-tests, provision route target
- id: openstack-controller-provision
  type: puppet
  role: [primary-controller]
  required_for: [post_deployment_end]
  requires: [openstack-network-networks]
  parameters:
    puppet_manifest: puppet/manifests/controller-provision.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720

# Configure other OpenStack Controllers
- id: openstack-controller-contrail
  type: puppet
  role: [controller]
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: puppet/manifests/controller-config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720

# Remove Open vSwitch packages, install and configure Contrail vRouter dkms kernel module
- id: compute-config
  type: puppet
  role: [compute]
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: puppet/manifests/compute-config.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720
