attributes:
  contrail_asnum:
    value: '65412'
    label: 'AS Number'
    description: 'AS number for BGP communication'
    weight: 10
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_private_cidr:
    value: '192.168.150.0/24'
    label: 'Private network CIDR'
    description: 'CIDR for private network used in Contrail inter-node communication'
    weight: 20
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_private_start:
    value: '192.168.150.2'
    label: 'Private IP range start'
    description: 'First IP address of contrail private network. NOTE: First one will be used as VIP address for controller HA'
    weight: 30
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_private_end:
    value: '192.168.150.254'
    label: 'Private IP range end'
    description: 'Last IP address of contrail private network'
    weight: 40
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_gateways:
    value: '192.168.150.1,192.168.150.2'
    label: 'GW IP'
    description: 'Comma separated IP addresses of gateways'
    weight: 20
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_public_if:
    value: 'eth1'
    label: 'Public interface'
    description: 'Interface must match to Nodes->Configure interfaces->Public'
    weight: 30
    type: "text"
    regex:
      source: '\S'
      error: "Error field cannot be empty"
  contrail_lbaas:
    type: "checkbox"
    weight: 50
    value: false
    label: "Enable LBaaS feature"
    description: "Enables LBaaS for Contrail"
