attributes:
  # Show contrail only in supported network config
  metadata:
    group: 'other'
    weight: 5
    hiera:
      - 100-contrail-vrouter-override_ns
      - rbac_settings
    restrictions:
      - condition: "not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type != 'vlan')"
        message: "Please use Neutron with tunneling segmentation."
  contrail_asnum:
    value: '64512'
    label: 'AS Number'
    description: 'AS number for BGP communication'
    weight: 20
    type: "text"
    regex:
      source: '^(?:(6553[0-5])|(655[0-2]\d)|(65[0-4]\d{2})|(6[0-4]\d{3})|([1-5]\d{4})|([1-9]\d{1,3})|([1-9]))$'
      error: "Invalid AS number"
  contrail_gateways:
    value: '10.109.3.250'
    label: 'GW IP'
    description: 'Comma separated IP addresses of BGP peers.'
    weight: 40
    type: "text"
    regex:
      source: '^(?:\d|1?\d\d|2[0-4]\d|25[0-5])(?:\.(?:\d|1?\d\d|2[0-4]\d|25[0-5])){3}(?:,\s*(?:\d|1?\d\d|2[0-4]\d|25[0-5])(?:\.(?:\d|1?\d\d|2[0-4]\d|25[0-5])){3})*$'
      error: "Invalid IP address list"
  contrail_external:
    value: '10.100.1.0/24'
    label: 'External IP CIDR'
    description: 'The CIDR for Contrail external network'
    weight: 50
    type: "text"
    regex:
      source: '^(?:(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\/([1-9]|[1-2]\d|3[0-2])$'
      error: "Invalid CIDR"
  contrail_route_target:
    value: '10000'
    label: 'Route Target'
    description: 'The route target number for Contrail external network'
    weight: 60
    type: "text"
    regex:
      source: '^(?:(6553[0-5])|(655[0-2]\d)|(65[0-4]\d{2})|(6[0-4]\d{3})|([1-5]\d{4})|([1-9]\d{1,3})|([1-9]))$'
      error: "Invalid target"
  contrail_global_dpdk:
    value: false
    label: "Enable DPDK feature for this environment."
    description: "Enable this option to unlock the DPDK feature.\nNOTE: You still have to assign DPDK-role to compute nodes to enable DPDK on them."
    weight: 70
    type: "checkbox"
  vrouter_core_mask:
    value: "0x3"
    label: "CPU pinning"
    description: "Hexadecimal mask that determines how many and what exactly processors will be used for dpdk vrouter"
    weight: 131
    type: "text"
    regex:
      source: '0[xX][0-9a-fA-F]+'
      error: "Invalid hexadecimal value"
    restrictions:
      - condition: "not (settings:contrail.metadata.enabled == true and settings:contrail.contrail_global_dpdk.value == true)"
        action: "hide"
  patch_nova:
    value: true
    label: "Patch Nova for DPDK support"
    description: "Patch Nova packages for dpdk-vrouter"
    weight: 140
    type: "checkbox"
    restrictions:
      - action: hide
        condition: not (settings:contrail.metadata.enabled == true  and settings:contrail.contrail_global_dpdk.value == true)
  install_contrail_qemu_lv:
    value: true
    label: "Install Qemu and Libvirt from Contrail"
    description: "Install Qemu and Libvirt packages from contrail repository. This option should be enabled for environment with VCenter"
    weight: 150
    type: "checkbox"
    restrictions:
      - condition: "not (settings:contrail.metadata.enabled == true and settings:contrail.contrail_global_dpdk.value == true)"
        action: "hide"
  disable_std_net:
    value: false
    label: "Disable standard Fuel networks creation"
    description: "If set disables standard Fuel networks creation. Standard Fuel networks are required to pass OSTF tests. Can be skipped on a production environment to speed up deployment."
    weight: 160
    type: "checkbox"
    restrictions:
      - condition: "not (settings:contrail.metadata.enabled == true)"
        action: "hide"
  contrail_vcenter_datacenter:
    value: "Datacenter"
    label: "vCenter Datacenter"
    description: "vCenter Datacenter for Contrail"
    weight: 170
    type: "text"
    regex:
      source: '^\w+$'
      error: "Invalid vCenter Datacenter"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  patch_nova_vmware:
    value: true
    label: "Patch Nova for VCenter support"
    description: "Patch python-nova on compute-vmware package for VCenter Contrail compatibility."
    weight: 180
    type: "checkbox"
    restrictions:
      - action: "hide"
        condition: "settings:contrail.metadata.enabled == false"
      - action: "hide"
        condition: "settings:common.use_vcenter.value == false"
  dvs_external:
    value: "Contrail-DVS-Ext"
    label: "External DVS name"
    description: "Name of DVS that provide connection between ESXi nodes and Fuel admin network"
    weight: 310
    type: "text"
    regex:
      source: '^[A-Za-z0-9_-]+$'
      error: "Invalid DVS name"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  dvs_internal:
    value: "Contrail-DVS-Int"
    label: "Internal DVS name"
    description: "Name of DVS that need for internal contrail traffic"
    weight: 330
    type: "text"
    regex:
      source: '^[A-Za-z0-9_-]+$'
      error: "Invalid DVS name"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  dvs_private:
    value: "Contrail-DVS-Priv"
    label: "Private DVS name"
    description: "Name of DVS that provide connection between ESXi nodes and Fuel private network"
    weight: 320
    type: "text"
    regex:
      source: '^[A-Za-z0-9_-]+$'
      error: "Invalid DVS name"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  aaa_mode:
    type: "select"
    weight: 340
    value: "cloud-admin"
    label: "AAA Mode"
    description: "Authentication mode"
    values:
      - data: "rbac"
        label: "Role Based Access Control"
      - data: "cloud-admin"
        label: "Cloud Admin"
