attributes:
  # Show contrail only in supported network config
  metadata:
    restrictions:
      - condition: "not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type != 'vlan')"
        message: "Please use Neutron with tunneling segmentation."
  contrail_asnum:
    value: '64512'
    label: 'AS Number'
    description: 'AS number for BGP communication'
    weight: 20
    type: "text"
    regex:
      source: '^(?:(6553[0-5])|(655[0-2]\d)|(65[0-4]\d{2})|(6[0-4]\d{3})|([1-5]\d{4})|([1-9]\d{1,3})|([1-9]))$'
      error: "Invalid AS number"
  contrail_gateways:
    value: '10.109.3.250'
    label: 'GW IP'
    description: 'Comma separated IP addresses of BGP peers.'
    weight: 40
    type: "text"
    regex:
      source: '^(?:\d|1?\d\d|2[0-4]\d|25[0-5])(?:\.(?:\d|1?\d\d|2[0-4]\d|25[0-5])){3}(?:,\s*(?:\d|1?\d\d|2[0-4]\d|25[0-5])(?:\.(?:\d|1?\d\d|2[0-4]\d|25[0-5])){3})*$'
      error: "Invalid IP address list"
  contrail_external:
    value: '10.100.1.0/24'
    label: 'External IP CIDR'
    description: 'The CIDR for Contrail external network'
    weight: 50
    type: "text"
    regex:
      source: '^(?:(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\/([1-9]|[1-2]\d|3[0-2])$'
      error: "Invalid CIDR"
  contrail_route_target:
    value: '10000'
    label: 'Route Target'
    description: 'The route target number for Contrail external network'
    weight: 60
    type: "text"
    regex:
      source: '^(?:(6553[0-5])|(655[0-2]\d)|(65[0-4]\d{2})|(6[0-4]\d{3})|([1-5]\d{4})|([1-9]\d{1,3})|([1-9]))$'
      error: "Invalid target"
  contrail_global_dpdk:
    value: false
    label: "Enable DPDK feature for this environment."
    description: "Enable this option to unlock the DPDK feature.\nNOTE: You still have to assign DPDK-role to compute nodes to enable DPDK on them."
    weight: 70
    type: "checkbox"
  vrouter_core_mask:
    value: "0x3"
    label: "CPU pinning"
    description: "Hexadecimal mask that determines how many and what exactly processors will be used for dpdk vrouter"
    weight: 131
    type: "text"
    regex:
      source: '0[xX][0-9a-fA-F]+'
      error: "Invalid hexadecimal value"
    restrictions:
      - condition: "not (settings:contrail.metadata.enabled == true and settings:contrail.contrail_global_dpdk.value == true)"
        action: "hide"
  patch_nova:
    value: true
    label: "Patch Nova"
    description: "Patch Nova packages for dpdk-vrouter"
    weight: 140
    type: "checkbox"
    restrictions:
      - action: hide
        condition: not (settings:contrail.metadata.enabled == true  and settings:contrail.contrail_global_dpdk.value == true)
  install_contrail_qemu_lv:
    value: true
    label: "Install Qemu and Libvirt from Contrail"
    description: "Install Qemu and Libvirt packages from contrail repository. This option should be enabled for environment with VCenter"
    weight: 150
    type: "checkbox"
    restrictions:
      - condition: "not (settings:contrail.metadata.enabled == true and settings:contrail.contrail_global_dpdk.value == true)"
        action: "hide"
  contrail_vcenter_datacenter:
    value: "Datacenter"
    label: "vCenter Datacenter"
    description: "vCenter Datacenter for Contrail"
    weight: 160
    type: "text"
    regex:
      source: '^\w+$'
      error: "Invalid vCenter Datacenter"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  contrail_vcenter_dvswitch:
    value: "Contrail_dvSwitch"
    label: "vCenter dvSwitch"
    description: "vCenter dvSwitch for Contrail"
    weight: 170
    type: "text"
    regex:
      source: '^\w+$'
      error: "Invalid vCenter dvSwitch"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  contrail_vcenter_dvportgroup:
    value: "Contrail_DV_Port_Group"
    label: "vCenter DV Port Group"
    description: "vCenter DV Port Group for Contrail"
    weight: 180
    type: "text"
    regex:
      source: '^\w+$'
      error: "Invalid vCenter DV Port Group"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  contrail_vcenter_dvportgroup_numberofports:
    value: "3"
    label: "vCenter DV Port Group number of ports"
    description: "vCenter number of ports DV Port Group for Contrail"
    weight: 190
    type: "text"
    regex:
      source: '^[1-9]\d*$'
      error: "Invalid vCenter DV Port Group number of ports"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  provision_vmware:
    value: true
    label: "Provision VMware hosts"
    description: >
      Enable this option to allow the plugin to provision ContrailVMs to ESXi hosts
      and create Contrail_dvSwitch.
      Can be disabled, if VMs are already created or this must be done manually.
    weight: 192
    type: "checkbox"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
  provision_vmware_type:
    value: "fuel"
    label: "Select the type of ContrailVM provision."
    description: "Fabric - Creates the network topology, bootstraps the VM and configures it. Fuel - uses precreated VM bootstrap it by PXE. You still have to configure ESXi network topology by-hand."
    weight: 194
    type: "radio"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
      - condition: "settings:contrail.metadata.enabled == false"
        action: "hide"
      - condition: "not (settings:contrail.provision_vmware.value == true)"
        action: "hide"
    values:
      - data: "fuel"
        label: "Fuel"
      - data: "fabric"
        label: "Fabric"
  contrail_vcenter_esxi_for_fabric:
    value: |
      #Just put valid yaml here
      # Just identifier of esxi node
      'esxi1':
         # The username of VMware ESXi ssh-access [Scope: Fabric]
         'username': 'root'
         # The ip-address of ESXi [Scope: Fabric and Fuel]
         'ip': '135.21.159.24'
         # The private vSwitch [Scope: Fabric and Fuel]
         'fabric_vswitch': 'vSwitch3'
         # for example vnic0 [Scope: Fabric]
         'uplink_nic': ''
         # The cluster name [Scope: Fabric]
         'cluster': 'cluster1'
         # Where vm have to be stored [Scope: Fabric]
         'datastore': '/vmfs/volumes/datastore1'
         # The ssh password of ESXi [Scope: Fabric and Fuel]
         'password': 'Abc.1234'
         # These options are used by Fabric to deploy the ContrailVM [Scope: Fabric]
         'contrail_vm':
           # You still have to configure DHCP in private net to dootstrap the VM [Scope: Fabric]
           'mac': '00:50:56:03:BC:BC'
           # The interface name, connected to Contrail_dvSwitch  [Scope: Fuel]"
           "vmware_iface_name": "ens161"
           # This ip should be configured in DCHP and binded to mac [Scope: Fabric]"
           'host': 'root@192.168.2.202'
    label: "vCenter ESXi data"
    description: "vCenter ESXi data in YAML format"
    weight: 200
    type: "textarea"
    regex:
      source: '.'
      error: "Invalid vCenter ESXi data"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
      - condition: "not (settings:contrail.provision_vmware.value == true)"
        action: "hide"
  vmdk_vm_image:
    value: ""
    label: "ContrailVM image for ESXi"
    description: "URL to download ContrailVM image. Keep empty if you have it on FUEL-master in contrail-plugin folder at /var/www/nailgun/plugins/contrail-3.0/ContrailVM-disk1.vmdk"
    weight: 196
    type: "text"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
      - condition: "not (settings:contrail.provision_vmware.value == true)"
        action: "hide"
      - condition: "settings:contrail.provision_vmware_type.value == 'fuel'"
        action: "hide"
  contrailvm_ntp:
    value: "10.109.3.1"
    label: "NTP server for ContrailVM"
    description: "NTP server address for ContrailVM, reachable from Private network. Should be deployed by-hands. [Scope: Fabric]"
    weight: 205
    type: "text"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
      - condition: "not (settings:contrail.provision_vmware.value == true)"
        action: "hide"
      - condition: "settings:contrail.provision_vmware_type.value == 'fuel'"
        action: "hide"
  contrail_environment:
    type: "select"
    weight: 210
    value: "prod"
    label: "ContrailVM flavor"
    description: "Choose the flavor for ContrailVM. Flavor with less RAM may be used for development/test environments."
    values:
      - data: "dev"
        label: "development"
      - data: "prod"
        label: "production"
    restrictions:
      - condition: "settings:common.use_vcenter.value == false"
        action: "hide"
      - condition: "not (settings:contrail.provision_vmware.value == true)"
        action: "hide"
      - condition: "settings:contrail.provision_vmware_type.value == 'fuel'"
        action: "hide"
